@import "tools";
@import "reset";

header {
  width: 100%;
  background-color:  $header_color;

  .settings {
    display: flex;
    flex-wrap: nowrap;
    padding: 1.125rem 10%;
    .settings_language, .settings_country_profile {
      background-color: $sub_color;
      color:  $main_color;
      font-family: $main_font;
      font-size: 0.875rem;
      border: none;
      outline: none;
      option {
        border: none;
        border-radius: 30px;
      }
    }
    .settings_contact {
      margin-left: auto;
      margin-right: 1.5625rem;
      color:  $main_color;
      font-family:  $main_font;
      text-decoration: none;
      font-size: 0.875rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  nav {
    display: flex;
    background-color: $btn_color;
    padding: 1.875rem 10%;
    .navigation {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      justify-content: center;
      width: 100%;
      margin: 0;
      .navigation_item {
        list-style-type: none;
        align-self: center;
        margin: 0 2%;
        font-size: 14px;
        color: $header_color;
        font-family:  $main_font;
        text-transform: uppercase;
        &:hover {
          cursor: pointer;
          color:  rgba(186, 0, 0, 0.5);

        }
      }
    }
    .navigation_search {
      margin-left: auto;
      background-color:  $btn_color;
      border: none;
      outline: none;
      border-radius: 0.325rem;
      padding: 0 1%;
      width: 20%;
      margin-right: 0.5rem;
      color:  $header_color;
      text-transform: uppercase;
      font-size: 0.875rem;
      &:hover {
        box-shadow: 0 2px 16px rgba(186, 0, 0, 0.16);
      }
    }
    i{
      background-color: #a00000;
      align-self: center;
      color: #fff;
      text-align: center;
      padding: 1.5%;
      border: none;
      border-radius: 50%;
      &:hover {
        cursor: pointer;
      }
    }
    .navigation_mobile_bar{
        display: none;
    }
    .navigation_mobile {
      position: relative;
      display: none;
    }
    .non-tablet {
      display: block;
    }
    .navigation_mobile_list {
      position: absolute;
      top: 100%;
      right: 100%;
      width: 250px;
      background-color:  $btn_color;
      border-radius: 25px;
      box-shadow: 0 2px 16px rgba(186, 0, 0, 0.16);
      .navigation_mobile_item {
        list-style-type: none;
        color:  $header_color;
        font-family: $main_font;
        font-size: 0.875rem;
        padding: 0.5rem;
        text-transform: uppercase;
        &:hover {
          background-color: $header_color;
          color: $main_color;
          cursor: pointer;
          border-radius: 25px;
        }
      }
    }
  }
  .header_info {
    width: 100%;
    padding: 7.625rem 10%;
    background-image:linear-gradient(45.0deg, #ba0000 20%, rgba(255,204,0,0.0) 79%), url("../../img/assets/layer_3_102.png");
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
      font-family:  $main_font;
      color:  $main_color;
      font-size: 4.375rem;
      line-height: 5rem;
      letter-spacing: 0.03rem;
      width: 60%;
    }
    hr {
      width: 100px;
      height: 4px;
      background-color:  $btn_color;
      margin: 2.8125rem 0;
    }
    p {
      font-family:  $main_font;
      font-size: 1.25em;
      line-height: 1.875em;
      letter-spacing: 0.03rem;
      color: $btn_color;
      width: 60%;
      margin-bottom: 25px;
    }
    .header_info_list {
      display: flex;
      flex-basis: 30%;
      .header_info_list_item {
        list-style-type: none;
        margin-right: 1rem;
        color:  $main_color;
        font-family:  $main_font;
        font-size: 1.25rem;
        text-transform: uppercase;
      }
    }
    .learn-more {
      @include btn;
      background-color: $btn_color;
      padding: 1rem;
      margin-right: 1rem;
      color: $header_color;
      &:hover {
        @include btn_hover;
        cursor: pointer;
      }
    }
    .www{
      @include btn;
      box-shadow: none;
      padding: 1rem;
      background-color: transparent;
      border: 2px solid $main_color;
      color:  $main_color;
      &:hover {
        cursor: pointer;
        box-shadow: 0 2px 16px rgba(255, 255,255, 0.9);
      }
    }
  }
}



// mobile only
@media all and (max-width: 599px){
 header {
   .settings{
     padding: 1.125rem 2%;
   }
   nav {
     .brand_logo {
       margin-right: 1rem;
       img {
         width: 100%;
       }
     }
   }
 }
}
@media all and (max-width: 400px){
  header {
    .settings{
      padding: 1.125rem 2%;
      .settings_country_profile {
        display: none;
      }
      .settings_contact {
        margin-right: 0;
      }
    }
    nav {
      padding: 1.125rem 2%;
      .brand_logo {
        img {
          width: 100%;
        }
      }
    }
    .header_info {
      padding: 1.125rem 2%;
      h1 {
        font-size: 3.125rem;
        line-height: 3.74rem;
      }
      .header_info_list {
        margin-bottom: 1rem;
        .header_info_list_item {
          font-size: 0.875rem;
          margin-right: 1rem;
        }
      }
    }
  }
}
// tablet 
@media (min-width: 600px) and (max-width: 770px) {
  header{
   .settings {
     padding: 1.275rem 5%;
   }
   nav {
     padding: 1.275rem 5%;
   }
   .header_info {
     padding: 5.625rem 10%;
   }
  }
}
@media all and (max-width: 1025px) {
  header {
    nav {
      .navigation_mobile_bar {
          display: block;
        }
      .navigation_mobile_bar  {
        margin-left: 1rem;
      }
      .navigation {
        display: none;
      }
      .navigation_search {
        width: 60%;
      }
    }
    .header_info {
      text-align: center;
      h1, p {
        width: 100%;
      }
      .header_info_list {
        justify-content: center;
      }
    }
  }
}
@media all and (min-width: 1900px) {
  header {
    .settings {
      padding: 1.125rem 20%;
    }
    nav {
      padding: 1.875rem 20%;
    }
    .header_info {
      padding: 7.625rem 20%;
    }
  }
}